{% extends "base.html" %}
{% block content %}
<h1>Car Rent</h1>
<p>Is your car in the workshop or maybe you are visiting the beautiful north of Norway? Or maybe you just need a car for a day? We have a variety of cars from station wagons to city cars. Prices vary from NOK 499, - upwards. Pick-up and delivery of a car at Evenes Airport NOK 800, - in addition. Extra equipment such as a high chair, bicycle rack, etc. can be fixed upon request.</p>
<p>Contact us for a quote:</p>
<p>Email: Rent@narvikrentacar.no<br>Tel: 46253935</p>
{% endblock %}